.container-fluid {
  background-color: #071c1f;
  height: 40px;
  padding: 0px;
}
.row {
  color: white;
}
.slick-next {
  right: 20px;
}
.slick-prev {
  left: 30px;
  z-index: 999;
}
.slick-prev:before,.slick-next:before {
  color: black;
}
.card{
  margin: auto;
  border: none;
}
.card-1{
  padding-top: 60px;
  align-items: center;
  text-align: end;
  margin: auto;
  gap: 100px;
}
.icon-1{
  margin-right: 20px;
  font-size: 40px;
  align-items: center;
}
.card-2 .card-body{
  background-color: #fcedda;
}
.card-3 .card-body{
  background-color: #f2fbcb;
}
.card-4 .card-body{
  background-color: #f7d8f9;
}
.pr{
  font-weight: bold;
  word-spacing: 5px;
}
.Danger{
  color: red;
}
.icon-card{
  font-size: 20px;
}
.icon-card-1{
  color: aqua;
}
.icon-card-2{
  color: #f7d8f9;
}
.card-fox{
  margin: auto;
}
.fox-card{
  margin: auto;
}
.col-2 img{
  width: 250%;
  margin-left: 110px;
  gap: none;
}
.fo-1{
  margin-top: 100px;
}
.ic-13{
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
  color: #154360;
}
.h1{
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
.h2{
  font-size: 50px;
  color: black;
}
.pics{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
}
.ban-2{
  margin-top: 100px;
}
.image-contatnt{
  text-align: center;
}

@media(max-width :768px){
  .text-1,.text-3{
    display: none;
  }
  .text-2{
    margin-left: 220px;
  }
  .card-1{
    gap: 10px;
  }
  .card-2{
    margin-right: 10px;
  }
  .card-3{
    margin-right: 100px;
  }
  .fox-card3{
    display: none;
  }
  .fox-card7{
    display: none;
  }
  .fox-card11{
    display: none;
  }
  .fo-card3{
    display: none;
  }
  .ban{
    margin-left: 25px;
  }
}

@media(max-width :1024px){
  .card-4{
    display: none;
  }
  .card-2{
    margin-left: 70px;
  }
  .card-3{
    margin-left: 50px;
  }
  .pr{
    margin-left: 70px;
  }
  .fox-card4{
    display: none;
  }
  .fox-card1,.fox-card2,.fox-card3{
    margin-right: -20px;
  }
  .fox-card8{
    display: none;
  }
  .fox-card5,.fox-card6,.fox-card7{
    margin-right: -20px;
  }
  .fo-1{
    margin-left: 50px;
  }
  .fox-card12{
    display: none;
  }
  .fox-card9,.fox-card10,.fox-card11{
    margin-right: -20px;
  }
  .fo-card4{
    display: none;
  }
  .fo-card1,.fo-card2,.fo-card3{
    margin-right: -20px;
  }
  .col-2 img{
    margin-left: 90px;
  }
  .ic-13{
    margin-left: 30px;
  }
}

@media(max-width :1440px){
  .fox-card1,.fox-card2,.fox-card3,.fox-card4{
    margin-left: 30px;
  }
  .fox-card5,.fox-card6,.fox-card7,.fox-card8{
    margin-left: 30px;
  }
  .fox-card9,.fox-card10,.fox-card11,.fox-card12{
    margin-left: 30px;
  }
  .fo-card1,.fo-card2,.fo-card3,.fo-card4{
    margin-left: 30px;
  }
}

